[test]
repo_path = "/root/src/OpenDS"
build_dir = "/root/build/opends-build"
nvme_bdf = "CHANGE_ME" # "0000:01:00.0"
mount_point = "CHANGE_ME" # "/mnt/datasets"

[deps]
src_root = "/root/src"
build_root = "/root/build"
